{% extends "base.html" %}

{% block title %}
Student Chat - MCMT AI Assistant
{% endblock %}

{% block content %}

<div class="student-chat">

    <aside class="sidebar">

     <a href="{{ url_for('main.new_chat') }}" class="new-chat-button">
    + New Chat
</a>   
        <h3>Previous Chats</h3>

    <div class="chat-list">

    {% for chat in chats %}

        <div class="chat-item">

            <div class="chat-info">

                <a href="{{ url_for('main.student_chat', chat_id=chat['chat_id']) }}">
                    {{ chat["title"] }}
                </a>

                <small class="chat-time">
                    {{ chat["created_at"][11:16] }}
                </small>

            </div>

            <a
                href="{{ url_for('main.delete_chat', chat_id=chat['chat_id']) }}"
                class="delete-chat"
            >
                Delete
            </a>

        </div>

    {% else %}

        <p>No previous chats yet.</p>

    {% endfor %}

</div>

        <a href="{{ url_for('main.profile') }}">Profile</a>

    </aside>


    <section class="student-chat-area">

     <div class="student-chat-header">
    {% if selected_chat %}
        <h2>{{ selected_chat["title"] }}</h2>
    {% else %}
        <h2>New Chat</h2>
    {% endif %}

    <span>Student Mode</span>
</div>   

     <div class="student-messages">

    {% if selected_chat %}

        {% for message in messages %}

            {% if message["sender"] == "user" %}

                <div class="user-message">
                    <span class="message-content">
                        {{ message["content"] }}
                    </span>

                    <small class="message-time">
                        {{ message["created_at"] }}
                    </small>
                </div>

            {% else %}

                <div class="ai-message">
                    <span class="message-content">
                        {{ message["content"] }}
                    </span>

                    <small class="message-time">
                        {{ message["created_at"] }}
                    </small>
                </div>

            {% endif %}

        {% else %}

            <div class="ai-message">
                Hello! How can I help you today?
            </div>

        {% endfor %}

    {% else %}

        <div class="ai-message">
            Select a chat or create a new chat to start.
        </div>

    {% endif %}

</div>  

     <form class="message-form" method="POST" action="{{ url_for('main.send_message') }}">

    <input
        type="hidden"
        name="chat_id"
        value="{{ selected_chat['chat_id'] if selected_chat else '' }}"
    >

    <input
        type="text"
        name="content"
        placeholder="Ask something..."
        required
    >

    <button type="submit">Send</button>

</form>   

</section>

</div>

<script src="{{ url_for('static', filename='js/student_chat.js') }}"></script>

{% endblock %}